body {
    background-color: #0d1117;
    color: #c9d1d9;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.game-container {
    width: 90%;
    max-width: 650px;
    text-align: center;
    padding: 20px;
}

h1 { color: #00ff66; margin-bottom: 5px; text-shadow: 0 0 10px rgba(0, 255, 102, 0.3); }
.subtitle { color: #8b949e; font-size: 0.9rem; margin-bottom: 20px; }

.screen {
    background: #161b22;
    border: 1px solid #30363d;
    border-radius: 6px;
    padding: 20px;
}

.hidden { display: none !important; }

/* Estilos del Mapa estilo Roguelike */
.map-grid {
    display: flex;
    flex-direction: column-reverse; /* El piso 1 abajo, el jefe arriba */
    gap: 15px;
    margin-top: 20px;
    background: #05070a;
    padding: 20px;
    border-radius: 6px;
}

.map-row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px dashed #21262d;
}

.nodo-btn {
    background: #21262d;
    color: #c9d1d9;
    border: 1px solid #30363d;
    padding: 10px 15px;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
    transition: all 0.2s;
}

.nodo-btn.disponible {
    border-color: #00ff66;
    color: #00ff66;
    box-shadow: 0 0 8px rgba(0,255,102,0.2);
}

.nodo-btn:disabled {
    opacity: 0.3;
    cursor: not-allowed;
}

/* Consola de Combate */
button#btn-siguiente-turno {
    background-color: #238636;
    color: white;
    border: none;
    padding: 12px 24px;
    font-radius: 6px;
    cursor: pointer;
    font-weight: bold;
}

.console-box {
    background-color: #05070a;
    border: 1px solid #21262d;
    border-radius: 4px;
    margin-top: 20px;
    padding: 15px;
    height: 300px;
    overflow-y: auto;
    text-align: left;
    font-size: 0.85rem;
}